body {
    margin: 0 auto;
    background-color: #ccc;
    /* height: 1000px; */
    font-family: 'Poppins', sans-serif;
}

html {
    margin: 0;
    padding: 0;
}

header {
    height: 100px;
    background-color: rgb(5, 5, 160);
    display: flex;                /* altera de block para flex */
    align-items: center;          /* centraliza verticalmente */
    overflow: hidden;
}

main {
    height: 550px;
}

footer {
    height: 50px;
    background-color: rgb(5, 5, 160);
    display: flex;                /* altera de block para flex */
    align-items: center;          /* centraliza verticalmente */
}

button {
    margin-top: 0.5vw;
    background-color: rgb(2, 2, 160);
    border-radius: 2vw;
    padding: 0.6vw;
    border: 2px solid black;
    margin-left: 1vw;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.6s ease;
}

button:hover {
    transform: scale(1.05);
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.5vw;
}

header h1 {
    color: white;
    margin-left: 1vw;
}

footer h3 {
    color: white;
    margin-left: 1vw;
}

form {
    margin-left: 1.5vw;
    margin-bottom: 1vw;
}

form {
    font-size: 1.2vw;
}

input {
    margin-top: 0.2vw;
}

input[type="text"],
input[type="mail"],
input[type="tel"],
input[type="date"] {
    border: 1px solid #000;
    border-radius: 2vw;
    padding: 0.3vw;
    height: 1.6vw;
}

input[type="submit"] {
    border: 1px solid #000;
    background-color: rgb(2, 2, 160);
    color: white;
    font-size: 1.3vw;
    padding: 0.7vw;
    border-radius: 2vw;
    transition: all 0.6s ease;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

input[type="text"],
input[type="mail"]{
    width: 20vw;
}

input[type="tel"],
input[type="date"] {
    width: 12vw;
}

input[type="submit"]:hover {
    transform: scale(1.08);
}

.formulario h1{
    font-size: 2.5vw;
    margin-left: 1vw;
}

table {
    margin-top: 2vw;
    border: 3px solid #000;
}

table td{
    text-align: center;
}

table td a{
    color: #000;
    transition: all 0.3s ease;
}

table td a:hover{
    transform: scale(1.05);
}